.slider-container{
    margin: 0;
    width: 100%;
    
    position: relative;
    


    .slide-img{
        width: 100%;
        
        
        
    }
    .text-container{
        position: absolute;
        top: 30%;

        & h1{
            text-transform: uppercase;
            
        }
    }

    

}